<h1><%= @season %> Meetings</h1>

<% @meetings.each do |meeting| %>
<article class="<%= meeting.next? ? 'next' : '' %>">
  <header>
    <%= meeting.date %>: <%= link_to (meeting.title ? meeting.title :  'undetermined'), meeting %>
  </header>
  <p><%= meeting.topic %></p>
</article>
<% end %>

<%= link_to 'New Meeting', new_meeting_path %>
