%h1= "Editing: #{@texture.label.capitalize}"

= form_for(@texture) do |f|
  - if @texture.errors.any?
    %div{:id=>"error_explanation"}
      %h2
        = pluralize(@texture.errors.count, "error")
        prohibited this texture from being saved:

      %ul
        - @texture.errors.full_messages.each do |msg|
          %li= msg

  %div{:class=>"field"}
    = f.text_area :body
  %div{:class=>"actions"}
    = f.submit
