%article{ :class => "next-meeting next meeting" }
  %header
    = render :partial => "meetings/header", :locals => {:meeting => @next_meeting}
    -# = "#{@next_meeting.date}: #{@next_meeting.title} (in #{time_ago_in_words(@next_meeting.date)})"
    -# %div{ :class => "topic" }
    -#   Topic:
    -#   = @next_meeting.topic
    %div{ :class => "body" }
      = raw @next_meeting.rendered
