!!! 5
!!!

%html
  %head
    %title ChicagoIANDS
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %link{:rel => "icon", :type => "image/png", :href => image_path("favicon-32.png")}
    = csrf_meta_tags

  %body{:class => "#{params[:controller]} #{params[:controller]}_#{params[:action]}"}

    -if current_user
      = render :partial => "layouts/admin"

    = render :partial => "layouts/header"

    %nav{:id => "main-navigation"}
      = render_navigation

    %div{:id => "content"}
      - flash.each do |name, msg|
        %div{:id => "flash#{name}"}
          %p{:style => "float:right;"}= link_to_function 'X', "$('#flash#{name}').fadeOut('slow')"
          %p= msg

      = yield

    %footer{:id => "footer"}
      %p
        Copyright &copy;
        = "2000-#{Date.today.year}"
        Chicago IANDS, unless otherwise noted. You are encouraged to
        share the information at this web site with other people, as
        long as you do not charge for it.
      %p Chicago IANDS is an IL 501(c)(3) not-for-profit corporation.
    = render :partial => "layouts/feedback"
    -unless current_user
      = render :partial => "layouts/analytics"