!!! 5
!!!

%html
  %head
    %title ChicagoIANDS
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{:class => "#{params[:controller]} #{params[:controller]}_#{params[:action]}"}

    %header{:id => "header"}
      %div{:class => "header"}
        = link_to("Chicago IANDS", :root)
      %div{:class => "subheader"}
        The International Association of Near-Death Studies, Inc.
    -if current_user
      %section{:id => "login-bar"}
        Logged in as
        = current_user.logon
        = link_to "Log out", logout_path

    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash#{name}"

    %div{:id => "content"}
      = yield

    %footer{:id => "footer"}
      %p
        Copyright
        = "2000-#{Date.today.year}"
        Chicago IANDS, unless otherwise noted. You are encouraged to
        share the information at this web site with other people, as
        long as you do not charge for it.
